@model DevicesManager.ViewModels.DeviceDetailsViewModel

<h1> @Model.Device.Name </h1>
@{
    string status = "disconnected";
    var lastData = Model.DeviceData.OrderBy(d => d.SendDateTime).LastOrDefault();
}
@if (Model.Device.IsActive)
{
    status = "connected";
}

<div class="body-content">

    <p>The device status is: @status</p>

    <div class="form-group">
        <div col-md-6>
            @Html.LabelFor(m => lastData.ProcessNumber)
        </div>
        <div col-md-6>
            @Html.ValueFor(m => lastData.ProcessNumber)
        </div>
    </div>

    <div class="form-group">
        <div col-md-6>
            @Html.LabelFor(m => lastData.RAM)
        </div>
        <div col-md-6>
            @Html.ValueFor(m => lastData.RAM)
        </div>
    </div>

    <div class="form-group">
        <div col-md-6>
            @Html.LabelFor(m => lastData.CPU)
        </div>
        <div col-md-6>
            @Html.ValueFor(m => lastData.CPU)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 space">
            <a class="btn btn-default btn-block" href=@Url.Action("Details", "Devices", new { id = Model.Device.DeviceId })>Odświerz dane</a>
        </div>

        <div class="col-md-3 space">
            <a id="download" device-id=@Model.Device.DeviceId class="btn btn-default btn-block"> Pobierz plik</a>
        </div>

        <div class="col-md-3 space">
            <a id="upload" device-id=@Model.Device.DeviceId class="btn btn-default btn-block">Wyślij plik</a>
        </div>
    </div>
</div>

<h2>Basic File Upload</h2>
@using (Html.BeginForm("SendFile",
                        "Devices",
                        new {id = @Model.Device.DeviceId},
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Wyślij plik:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Plik" />
    <br><br>
}

@section scripts
{
    <script>
        $("a#download").click(function (e) {
            $.ajax({
                type: "GET",
                url: "/devices/GetFile/" + $(this).attr('device-id'),
                success: function (response) {
                    alert(response);
                }
            });
        });

        $("a#upload").click(function (e) {
            $.ajax({
                type: "GET",
                url: "/devices/SendFile/" + $(this).attr('device-id'),
                success: function (response) {
                    alert(response);
                }
            });
        });
    </script>
}