@model DevicesManager.ViewModels.UserDeviceViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string activeCSSClass;
}

@Html.Partial("~/Views/Shared/_Modal.cshtml")

<h2>@Model.UserName</h2>
@if (Model.Devices.Count == 0)
{
    <p>Nie posiadasz jeszcze żadnych urządzeń.</p>
}
else
{
    <table id="devicesTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Urządzenie</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model.Devices)
            {
                if (device.IsActive == true)
                {
                    activeCSSClass = "device-active";
                }
                else
                {
                    activeCSSClass = null;
                }
                <tr class="@activeCSSClass">
                    <td>@Html.ActionLink(device.Name, device.DeviceId.ToString(), "Devices/Details")</td>
                    <td>
                        <button data-device-id="@device.DeviceId" data-toggle="modal" data-target="#confirm-delete" class="btn-link js-delete">Usuń</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
<a class="btn btn-default" href=@Url.Action("Add", "Devices")>Dodaj</a>

@section scripts
{
    <script>


        $("button.js-delete").click(function (e) {
            var anchor = this;
            $('#confirm-delete').modal('show').attr('href', $(anchor).attr("data-device-id"));
            return false;
        });

        $('a#confirm').click(function (e) {
            var button = $(this);
            $('#confirm-delete').modal('hide');
                $.ajax({ 
                    type: "GET",
                    url: "/devices/delete/" + $('#confirm-delete').attr('href'),
                    success: function () {
                        location.reload();
                    }
                });  
        });
        
    </script>
}